* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --grey: #e8e8ea;
  --orange: #f47b56;
  --black: #4b4c5f;
  --black_2: #1e1f36;
}

body {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

.main_page {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FAQ {
  width: 920px;
  max-height: 800px;
  border-radius: 23px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}

.FAQ_box1 {
  height: 509px;
}

.border_1 {
  position: relative;
}

.border_2 {
  position: relative;
  top: -287px;
}

.foto_box {
  position: relative;
  z-index: 2;
  width: fit-content;
  top: -580px;
}

.foto_box_shadow {
  width: fit-content;
  position: relative;
  top: -930px;
}

.foto_cube {
  position: relative;
  top: -1300px;
  left: -90px;
  z-index: 20;
}

.FAQ_box2 {
  height: 509px;
  height: fit-content;
  border-radius: 23px;
  background-color: var(--white);
  margin: 65px 96px 0px 0px;
  display: flex;
  flex-direction: column;
}

.FAQ_box2 h1 {
  margin-bottom: 35px;
  color: var(--black_2);
}

.box_size {
  width: 350px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--grey);
}

.FAQ_box2 .question {
  width: 350px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.FAQ_box2 .question:hover {
  color: var(--orange);
  cursor: pointer;
}

/* js class start */

.boldquestion {
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: var(--black_2) !important;
}

.diplaynone {
  display: none;
}

.diplayblock {
  display: block !important;
  width: 350px !important;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}

.rotate {
  transform: rotate(180deg) !important;
}

/* js class end */

/*  */

/* responsive start */

/*  */

/* mobile responsive start */

@media screen and (max-width: 1000px) {
  .border_1 {
    display: none;
  }

  .border_2 {
    display: none;
  }

  .foto_box {
    display: none;
  }

  .foto_box_shadow {
    display: none;
  }

  .foto_cube {
    display: none;
  }

  .FAQ {
    width: 327px;
    max-height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .FAQ_box1 {
    width: 280px;
    height: 185px;
    display: flex;
    position: relative;
    top: -110px;
    background-image: url(../img/Group\ 4.png);
  }

  .img_for_responsive {
    width: 241px;
    height: 208px;
    position: relative;
    left: 26px;
    background-image: url(../img/shadow-mobile.png);
  }

  .FAQ_box2 {
    display: block;
    width: 279px;
    height: fit-content;
    margin: 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -60px;
  }

  .FAQ_box2 h1 {
    text-align: center;
  }

  .FAQ_box2 .question {
    width: 279px;
    font-size: 13px;
  }

  .box_size {
    width: 279px;
  }

  .diplayblock {
    width: 279px !important;
    font-size: 12px;
  }

  .boldquestion {
    font-size: 13px !important;
  }
}

/* mobile responsive end */

/*  */

/* responsive end */

/*  */
